<div class="show-top-content">

  <p id="notice"><%= notice %></p>

  <p>
    <img src="<%= @actor.image_url %>"><br><br>
    <strong>Name:</strong>
    <%= @actor.name %>
  </p>

  <%= link_to 'Back to movie', url_for(:back) %> |
  <%= link_to 'Edit', edit_actor_path(@actor) %> |
  <%= link_to 'All actors', actors_path %>

</div>


<% all_stars = @actor.comments.map{|com| com.stars} %>
<% avg = (all_stars.reduce(:+) / all_stars.count).round %>
Average user rating: <%= render partial: "stars/stars", locals: { thing: avg } %>

<%= render partial: "stars/stars_average", locals: { commentable: @actor } %>

<!-- BEGIN USER COMMENTS ON ACTOR SECTION -->
<div class="review">
  <h4>User comments on this actor</h4>
  <% if @actor.comments.any? %>
    <ul>
      <% @actor.comments.reverse_each do |com| %>
        <%= render partial: "comments/display_comment", locals: { com: com } %>
      <% end %>
    </ul>
  <% else %>
    None yet.
  <% end %>

  <% if current_user %>
    <br>
    <%= link_to "Post a new comment on this actor", new_actor_comment_path(@actor.id) %>
    <br>
  <% end %>
</div>
<!-- END USER COMMENTS ON ACTOR SECTION -->
