<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:title, "Title") %>
  <%= f.text_field :title %>
  <%= label_tag(:tagline, "Tagline") %>
  <%= f.text_field :tagline %>
  <%= label_tag(:image_url, "Image_url") %>
  <%= f.text_field :image_url, value: "#{Faker::Avatar.image}" %>
  <%= label_tag(:director, "Director") %>
  <%= f.text_field :director %>
  <%= label_tag(:producer, "Producer") %>
  <%= f.text_field :producer %>
  <%= label_tag(:description, "Description") %>
  <%= f.text_field :description %>
  <div class="submit-movie"><%= f.submit "Submit" %></div>
<% end %><br>
