<div class="index">

<div class="row">
            <div class="col-lg-12">
                <h1 class="movie-index-heading">Movies
                    <small>and the cleverest reviews on the internet</small>
                </h1>
            </div>
        </div>
  <table>

    <% reviewed = Movie.select {|mov| mov.reviews.any?} %>
    <% reviewed.sort! {|x,y| y.reviews.first.stars <=> x.reviews.first.stars } %>
    <% not_reviewed = Movie.select {|mov| mov.reviews.empty? } %>
    <% @sorted_desc = reviewed + not_reviewed %>

    <% @sorted_desc.each do |movie| %>
      <div class="col-md-3 portfolio-item">
      <a href="<%= movie_path(movie.id) %>"><img class="img-responsive" src="<%=movie.image_url%>" alt=""></a>
        <p class="title-td"><span id="movie-title-text"><%= link_to movie.title, movie_path(movie.id) %></span></p>
        <% if movie.reviews.first %>


          <!-- <br> -->
            Pro rating:
            <%= render partial: "stars/stars", locals: {thing: movie.reviews.first.stars} %>
          <br>

        <% end %>

        Average User Rating: &nbsp
        <%= render partial: "stars/stars_average", locals: { commentable: movie } %>

        <% if is_admin? %>
          <div class="edit-delete">
            <%= link_to "Edit", edit_movie_path(movie.id) %> |
            <%= link_to "Delete", movie, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      <%end%>
    </div>
    <% end %>
  </table>



<%if is_admin? %>
    <br><br>
    <p>Admin feature: </p>
    <%= link_to "Create New Movie", new_movie_path %>
    </div>
<%end%>

