<div class="index">

<div class="row">
            <div class="col-lg-12">
                <h1 class="movie-index-heading">Movies
                    <small>Secondary bs...</small>
                </h1>
            </div>
        </div>
  <table>

    <% @movies.each do |movie| %>
    <div class="col-md-3 portfolio-item">
      <img class="img-responsive" src="<%=movie.image_url%>" alt="">
        <p class="title-td"><span id="movie-title-text"><%= link_to movie.title, movie_path(movie.id) %></span></p>
        <% if is_admin? %>
          <div class="edit-delete">
            <%= link_to "Edit", edit_movie_path(movie.id) %> |
            <%= link_to "Delete", movie, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      <%end%>
      <!-- Thumbs Up Thumbs Down -->
      <div class="btn-group pull-right">
        <%= link_to like_movie_path(movie), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Thumbs Up
        <%= movie.get_upvotes.size %>
        <br>
        <% end %>
        <%= link_to dislike_movie_path(movie), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
          Thumbs Down
          <%= movie.get_downvotes.size %>
          <% end %>
      </div>
    <!-- Thumbs Up Thumbs Down -->

    </div>
    <% end %>
  </table>
<%if is_admin? %>
    <br><br>
    <p>Admin feature: </p>
    <%= link_to "Create New Movie", new_movie_path %>
    </div>
<%end%>

