<img src="<%= @movie.image_url %>">
<h3><%= @movie.title %></h3>
<h4><em><%= @movie.tagline %></em></h4>
<h5>director | <%= @movie.director %></h5>
<h5>producer | <%= @movie.producer %></h5>
<br>
<p>| synopsis |</p>
<p><%= @movie.description %></p>

<%= link_to 'All Movies', movies_path %>

<br><br>
<p>Admin features</p>
<%= link_to 'Edit Movie', edit_movie_path %>
