<img src="<%= @movie.image_url %>">
<h2><%= @movie.title %></h2>
<h4><em><%= @movie.tagline %></em></h4>
<h5>director | <%= @movie.director %></h5>
<h5>producer | <%= @movie.producer %></h5>
<br>
<p>| synopsis |</p>
<p><%= @movie.description %></p>

<% if @movie.reviews.any? %>
  <h3>Review</h3>
  by <%= @movie.reviews[0].reviewer.name %>
  <%= @movie.reviews[0].body %>
<% end %>
<br>

<%= link_to "All Movies", movies_path %>
<% if is_admin? %>
  <br><br>
  <p>Admin features</p>
  <%= link_to "Edit Movie", edit_movie_path %>
<% end %>

<%if is_admin? || (is_pro? && @movie.reviews.first.reviewer == current_user) %>
<p>Reviewer features</p>
<!-- Need to hide this in all cases except when there's no review && when the person has pro_permissions status && has been assigned as reviewer by mattbaker. -->
  <% if @movie.reviews.empty? %>
    <%= link_to "Review this Movie", new_movie_review_path(@movie.id) %>
  <% else%>
    <%= link_to "Edit your Review" %>
  <% end %>
<% end %>
