<div class="show-top-content">
    <img src="<%= @movie.image_url %>">
    <h2><%= @movie.title %></h2>
    <h4><em><%= @movie.tagline %></em></h4>
    <h5>director | <%= @movie.director %></h5>
    <h5>producer | <%= @movie.producer %></h5>
    <br>
    <p>| synopsis |</p>
    <p><%= @movie.description %></p>
    <%= link_to "All Movies", movies_path %>
</div>

  <% if @movie.reviews.any? %>
    <% the_review = @movie.reviews[0] %>


<% @movie.actors.each do |actor| %>
  <%= actor.name %>, &nbsp
<% end %>


<div class="review">
  <h3>Pro Review</h3><br>
   by <%= the_review.reviewer.name %>
    <h4><%= the_review.title %></h4>
  <hr>

  <%= the_review.body %><hr>

   <% if @movie.reviews.first.thumb_is_up %>
            <span class="btn btn-default btn-sm">
              <i class="fa fa-thumbs-up"></i>

                Thumbs Up!

            </span>
          <% else %>
             <span class="btn btn-default btn-sm">
               <i class="fa fa-thumbs-down"></i>
                 Thumbs Down!
             </span>
          <% end %>|

<span id="stars">
        Stars: <% if the_review.stars == 1 %>
                  <i class="fa fa-star gold"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
               <% elsif the_review.stars == 2 %>
                  <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
               <% elsif the_review.stars == 3 %>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star gold"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
               <% elsif the_review.stars == 4 %>
                  <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star"></i>
               <% elsif the_review.stars == 5 %>
                  <i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i>
               <% end %>
      </span>
<% end %>
<br>
<br>
</div>

<br>



<% if is_admin? %>
  <br><br>
  <p>Admin features</p>
  <%= link_to "Edit Movie", edit_movie_path %>
  <%= link_to "Delete this Movie", @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
<% end %>

<%if is_admin? || (is_pro? && @movie.reviews.any? && @movie.reviews.first.reviewer == current_user) %>
  <p>Reviewer features</p>
  <% if @movie.reviews.empty? %>
    <%= link_to "Review this Movie", new_movie_review_path(@movie.id) %>
  <% else%>
    <%= link_to "Edit this Review", edit_review_path(the_review.id) %>
  <% end %>
<% end %>
