<img src="<%= @movie.image_url %>">
<h2><%= @movie.title %></h2>
<h4><em><%= @movie.tagline %></em></h4>
<h5>director | <%= @movie.director %></h5>
<h5>producer | <%= @movie.producer %></h5>
<br>
<p>| synopsis |</p>
<p><%= @movie.description %></p>


<% if @movie.reviews.any? %>
  <% the_review = @movie.reviews[0] %>

  <h3>Review</h3>
  thumbs up? <%= the_review.thumb_is_up %> <br>
  stars: <%= the_review.stars %>

  <h4><%= the_review.title %></h4>
  by <%= the_review.reviewer.name %>
  <%= the_review.body %>

<% end %>

<br>


<%= link_to "All Movies", movies_path %>



<br><br>
<p>Admin features</p>
<%= link_to "Edit Movie", edit_movie_path %>

<p>Reviewer features</p>
<!-- Need to hide this in all cases except when there's no review && when the person has pro_permissions status && has been assigned as reviewer by mattbaker. -->

<% if @movie.reviews.empty? %>
  <%= link_to "Review this Movie", new_movie_review_path(@movie.id) %>
<% else%>
  <%= link_to "Edit this Review", edit_review_path(the_review.id) %>
<% end %>
