<div class="show-top-content">
    <img src="<%= @movie.image_url %>">
    <h2><%= @movie.title %></h2>
    <h4><em><%= @movie.tagline %></em></h4>
    <h5>director | <%= @movie.director %></h5>
    <h5>producer | <%= @movie.producer %></h5>
    <br>
    <p>| synopsis |</p>
    <p><%= @movie.description %></p>
    <%= link_to "All Movies", movies_path %>
</div>

  <% if @movie.reviews.any? %>
    <% the_review = @movie.reviews[0] %>




<div class="review">
  <h3>Pro Review</h3>
  <hr>
  stars: <%= the_review.stars %>

  <h4><%= the_review.title %></h4>
  by <%= the_review.reviewer.name %>
  <%= the_review.body %>

<% end %>
<br>
<br>
</div>

<br>



<% if is_admin? %>
  <br><br>
  <p>Admin features</p>
  <%= link_to "Edit Movie", edit_movie_path %>
  <%= link_to "Delete this Movie", @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
<% end %>

<%if is_admin? || (is_pro? && @movie.reviews.first.reviewer == current_user) %>
  <p>Reviewer features</p>
  <% if @movie.reviews.empty? %>
    <%= link_to "Review this Movie", new_movie_review_path(@movie.id) %>
  <% else%>
    <%= link_to "Edit this Review", edit_review_path(the_review.id) %>
  <% end %>
<% end %>
