<div class="show-top-content">
    <img  class="img-responsive movie-show-image " src="<%= @movie.image_url %>">
    <h2 ><%= @movie.title %></h2>
    <h4 class="title"><em><%= @movie.tagline %></em></h4>
    <br>
    <h5><span class="director">Director</span> | <%= @movie.director %></h5>
    <h5><span class="director" >Producer</span> | <%= @movie.producer %></h5>
    <h5><span class="director">Starring</span> |<% @movie.actors.each_with_index do |actor, i| %>
      <a href="/actors/<%= actor.id %>"><%= actor.name %></a>
      <%= ',' if i < (@movie.actors.count - 1) %>
    <% end %>
    </h5>
    <br>

    <h6 class="director" >Synopsis:</h6>
    <p><em><%= @movie.description %></em></p>

    <span class="director"  >Average User Rating: &nbsp</span>
    <%= render partial: "stars/stars_average", locals: { commentable: @movie } %>
    <br><br>

    <span class="director"><%= link_to "All Movies", movies_path %></span>
</div>


  <!-- BEGIN REVIEW SECTION -->
  <% the_review = @movie.reviews[0] %>
  <div class="review">
    <% if @movie.reviews.any? %>
      <h3>Pro Review</h3><br>
       by <%= the_review.reviewer.name %>
        <h4 ><%= the_review.title %></h4>
      <hr>

      <%= the_review.body %><hr>

        <% if @movie.reviews.first.thumb_is_up %>
                <span class="btn btn-default btn-sm">
                  <i class="fa fa-thumbs-up"></i>
                    Thumbs Up!
                </span>
        <% else %>
                 <span class="btn btn-default btn-sm">
                   <i class="fa fa-thumbs-down"></i>
                     Thumbs Down!
                 </span>
        <% end %>
      <br>
      <br>
      <br>

        <%= @movie.reviews.first.reviewer.name %>'s professional star rating on this movie: <%= render partial: "stars/stars", locals: { thing: the_review.stars } %>

    <% else %>
      A pro review has yet to be written.
    <% end %>
  </div>
  <!-- END REVIEW SECTION -->


<!-- BEGIN USER COMMENTS ON MOVIE SECTION -->

<div class="review">
  <h4>User comments on this movie</h4>
  <% if @movie.comments.any? %>
    <ul>
      <% @movie.comments.reverse_each do |com| %>
        <%= render partial: "comments/display_comment", locals: { com: com } %>
      <% end %>
    </ul>
  <% else %>
    None yet.
  <% end %>

  <% if current_user %>
    <br>
    <%= link_to "Post a new comment on this movie", new_movie_comment_path(@movie.id) %>
    <br>
  <% end %>
</div>
<!-- END USER COMMENTS ON MOVIE SECTION -->
<!-- BEGIN USER COMMENTS ON REVIEW SECTION -->
<div class="review">
  <% if @movie.reviews[0] && @movie.reviews[0].comments.any? %>
      <h4>User comments on <%= @movie.reviews.first.reviewer.name %>'s review</h4>
        <ul>
        <% @movie.reviews.first.comments.reverse_each do |com| %>
          <%= render partial: "comments/display_comment", locals: { com: com } %>
        <% end %>
      </ul>
  <% end %>

  <% if current_user && @movie.reviews[0] %>
    <br>
    <%= link_to "Comment on " + @movie.reviews.first.reviewer.name +  " 's review", new_review_comment_path(@movie.reviews.first.id) %>
    <br>
  <% end %>
</div>
<!-- END USER COMMENTS ON REVIEW SECTION -->


<%= link_to "All Movies", movies_path %>

<% if is_admin? %>
  <br><br>
  <p>Admin features</p>
  <%= link_to "Edit Movie", edit_movie_path %>
  <%= link_to "Delete this Movie", @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
<% end %>

<%if is_admin? # || (authorized?(@movie, current_user)) %>
  <p>Reviewer features</p>
  <% if @movie.reviews.empty? %>
    <%= link_to "Review this Movie", new_movie_review_path(@movie.id) %>
  <% else%>
    <%= link_to "Edit this Review", edit_review_path(the_review.id) %>
  <% end %>
<% end %>
