<img src="<%= @movie.image_url %>">
<h2><%= @movie.title %></h2>
<h4><em><%= @movie.tagline %></em></h4>
<h5>director | <%= @movie.director %></h5>
<h5>producer | <%= @movie.producer %></h5>
<br>
<p>| synopsis |</p>
<p><%= @movie.description %></p>


<% if @movie.reviews.any? %>
  <% the_review = @movie.reviews[0] %>

  <h3>Review</h3>
  <!-- Thumbs Up Thumbs Down -->

    <%= link_to like_movie_path(@movie), method: :put, class: "btn btn-default btn-sm" do %>
      <i class="fa fa-thumbs-up"></i>

      <% if @movie.get_upvotes.size > 0 %>
        Thumbs Up!
      <% end %>

    <% end %>

    <%= link_to dislike_movie_path(@movie), method: :put, class: "btn btn-default btn-sm" do %>
      <i class="fa fa-thumbs-down"></i>

      <% if @movie.get_downvotes.size > 0 %>
        Thumbs Down!
      <% end %>
   <% end %>

    <!-- Thumbs Up Thumbs Down -->
  stars: <%= the_review.stars %>

  <h4><%= the_review.title %></h4>
  by <%= the_review.reviewer.name %>
  <%= the_review.body %>

<% end %>

<br>



<% if @movie.comments.any? %>
  <h4>User comments on this movie</h4>
  <ul>
    <% @movie.comments.each do |com| %>
      <li><%= com.body %> -- <%= com.commenter.name %> (<%= com.created_at %>)</li>
    <% end %>
  </ul>
<% end %>

<% if @movie.reviews[0] && @movie.reviews[0].comments.any? %>
    <h4>User comments on <%= @movie.reviews.first.reviewer.name %>'s review</h4>
      <ul>
      <% @movie.reviews.first.comments.each do |com| %>
        <li><%= com.body %> -- <%= com.commenter.name %> (<%= com.created_at %>)</li>
      <% end %>
    </ul>
<% end %>




<%= link_to "All Movies", movies_path %>
<% if is_admin? %>
  <br><br>
  <p>Admin features</p>
  <%= link_to "Edit Movie", edit_movie_path %>
  <%= link_to "Delete this Movie", @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
<% end %>

<%if is_admin? || (is_pro? && @movie.reviews.first.reviewer == current_user) %>
  <p>Reviewer features</p>
  <% if @movie.reviews.empty? %>
    <%= link_to "Review this Movie", new_movie_review_path(@movie.id) %>
  <% else%>
    <%= link_to "Edit this Review", edit_review_path(the_review.id) %>
  <% end %>
<% end %>
