<% if !is_admin? %>
  <p>You aren't allowed to view this page because you don't have administrative privileges.</p>
<% else %>
  <div class="user_index">

    <p id="notice"><%= notice %></p>

    <h1>All Users</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="footer_links">
      <%= link_to 'Back', url_for(:back) %> |
      <%= link_to 'All Movies', movies_path %>
    </div>

  </div>
<% end %>