<div class="login">

	<h1>Signup!</h1>

	<%= form_for :user, url: '/users' do |f| %>

	  Name: <%= f.text_field :name %>
	  Username: <%= f.text_field :username %>
	  Password: <%= f.password_field :password %>
	  Password Confirmation: <%= f.password_field :password_confirmation %>
	 <div class="submit-user"> <%= f.submit "Submit" %> </div>
   <br>

	<% end %>

</div>
