

<%= form_for [@movie, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-wrapper">
  <div class="form-group" >
    <div class="field">
      <%= f.label :stars%>
      <%= f.select :stars, [[1,1],[2,2],[3,3], [4,4], [5,5]] %><br>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
      <%= f.label :body %><br>
      <%= f.text_area :body %><br>
      <%= f.label :thumb_is_up %><br />
      <%= f.label :thumb_is_up, "Yes", :value => true  %>
      <%= f.radio_button :thumb_is_up, true %>
      <%= f.label :thumb_is_up, "No", :value => false %>
      <%= f.radio_button :thumb_is_up, false, :checked => true %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
